footer{
    background: var(--darkBlue);
    text-align: center;
    color: var(--white);
    padding:2.5rem ;
}
footer a {
    color: var(--lightGrayishBlue);
    font-size: .924rem;
    text-decoration: none;
    font-weight: 100;
}
.footer__logo img{ 
    margin-bottom: 1.9rem;
}
.footer__social{
    margin-bottom: 1.9rem;
}
.footer__social a{
    display: inline-block;
}
.footer__social a:not(:last-child){
    margin-right: 1rem;
}
.col2{
 margin-bottom: 1.9rem;
}
.footer__links a{
    display: block;
    line-height: 2;
}
.footer__copyright{
    font-weight: 100;
    color: var(--grayishBlue);
    font-size: .924rem;
}
 
@media (min-width:40em){
    footer{
        text-align: left;
    }
 .footer__grid{
     display: grid;
     grid-template-columns: repeat(3,1fr) 2fr;
     grid-template-rows: repeat(2,1fr) ;
     grid-template-areas:"logo links1 links2 cta" "social links1 links2 cta";
     justify-items: start;
 }
 .footer__social a:not(:last-child) {
     margin-right: .5rem;
    }
  .footer__logo {
      grid-area: logo;
      justify-self: end;      
    }
    
  .footer__links{
      align-items: start;
    }
    .footer__social{
    grid-area: social;
     justify-self:end;
    }
 
.col1 ,.col2{
justify-self: end;
align-items: start;
 }
 
 .col1{
 grid-area: links1;
 }
.col2{
grid-area: links2;
}
.col1 a:not(:last-child),
.col2 a:not(:last-child) {
padding-bottom: 1rem;
 }
 
 
 .footer__copyright{
grid-area: cta;
justify-self: end;
align-self:center;
 }
 
}